<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
  	<section class="user_info">
  	  <h1>
  	   <%= gravatar_for @user %>
  	   <%= @user.name %>
  	  </h1>
  	</section>
  </aside>
</div>

<% if current_user.admin? && current_user.id == @user.id %>

  <%= "Manage other user's course" %>
  <%= render Register.pending %>
 
<% else %>
  <% if @user.registers.pending.any? %>
    <p><%= "PENDING REGISTRATION" %></p>
    <li> <%= render @user.registers.pending %></li>
  <% end %>

  <% if @user.registers.approved.any? %>
    <p><%= "SUCCESSFULL REGISTRATION" %></p>
    <li><%= render @user.registers.approved %></li>
  <% end %>

  <% if @user.registers.rejected.any? %>
    <p><%= "FAILED REGISTRATION" %></p>
    <li><%= render @user.registers.rejected %></li>
  <% end %>
<% end %>
