<li>

  <h3 style = "text-transform:capitalize;">
    <b><%= course.name %></b>
  </h3>
  
  <p style = "text-transform:capitalize;">
    <b><%= t ".heading" %></b>
    <%= course.status %>
  </p>

  <%= link_to t(".view"), course, class: "btn btn-primary btn-sm" %> | 

  <% if current_user.admin? %>
    <%= link_to t(".update"), edit_course_path(course), class: "btn btn-primary btn-sm" %> |
    <%= link_to t(".delete"), course, method: :delete,data: { confirm: " Are You Sure?" }, class: "btn btn-danger btn-sm" %> <br> <br>
  <% end %>
</li>
