<% provide :title, t(".index_title") %>

<h1><%= t ".heading" %></h1>

<%= paginate @course %>

<ul class="courses">
  <%= render @course %>
</ul>

<%= paginate @course %>

<% if current_user.admin? %>
  <%= link_to t(".create"), new_course_url, class: "btn btn-primary btn-lg btn-block" %>
<% end %>
