<% provide :title, @course.name %>

<div>
  <div>
    <h1>
      <b>Course Name:</b>
      <%= @course.name %>
    </h1>

    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6">
          <h4>
            <b><%= t ".status" %></b>
            <%= @course.status %><br><br>

            <b><%= t ".start" %></b>
            <%= @course.started_at %><br><br>
            
            <b><%= t ".member" %></b>
            <%= @course.member %><br><br>
            
            <b><%= t ".des" %></b>
            <%= @course.description %>
          </h4>
        </div>

        <div class="col-md-6">
          <h4>
            <b><%= t ".duration" %></b>
            <%= @course.total_month %><%= t ".month" %>
          </h4>
        </div>
      </div>
    </div>
  </div>
  
  <div style="padding-left: 65em;">
    <% if current_user.admin? %>
      <%= link_to t(".update"), edit_course_path, class: "btn btn-primary btn-sm" %> |
    <% end %>

    <%= link_to t(".return"), courses_path, class: "btn btn-primary btn-sm" %><br><br>
  </div>

  <h4>
    <b><%= t ".review" %></b>
    <%= link_to t(".add"), new_course_review_path(@course), class: "btn btn-success btn-sm" %><br><br>
  </h4>

  <%= render @course.reviews %>

</div>
