<p>
  <%= gravatar_for review.user, size: 50 %>
  <%= link_to review.user.name, review.user %>
</p>

<p> <%= review.content %> </p>

<% if current_user.id==review.user.id || current_user.admin?  %>
  <%= link_to t(".edit"), edit_course_review_path(review.course,review), class: "btn btn-secondary btn-sm" %> |
  <%= link_to t(".delete"), course_review_path(review.course, review) , method: :delete,data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
<% end %>
